* {
  margin: 0.1px;
  padding: 0.1px;
  box-sizing: 0.1px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  min-height: 60px;
  display: flex;
  top: 0;
  align-items: center;
  background-color: rgb(241, 241, 241);
  position: fixed;
  margin: auto;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.logo {
  flex: 1;
  width: 70vh;
  align-items: center;
}

.logo img {
  max-width: 300px;
}

nav {
  flex: 1;
}

#intro {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro > h2 {
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro input[type='submit'] {
  width: 100px;
  height: 30px;
  background: rgb(255, 196, 0);
  border: none;
  margin: 15px 0;
  cursor: pointer;
  color: black;
  font-weight: 1000;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.content img {
  height: 50px;
  width: 5vw;
}

.desc {
  padding: 10px;
  margin-left: 50px;
}

#how-it-works {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

#row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
}

.column {
  align-items: center;
  text-align: center;
  margin: 5px;
  border: 1px solid black;
  width: 300px;
  border-radius: 2%;
}

.btn {
  margin: 15px 18px;
  background: orange;
  font-size: 14px;
  color: white;
  border: none;
  width: 90px;
  height: 30px;
}

.tit {
  background: rgb(236, 236, 236);
  align-items: center;
  padding: 8px;
}

.column p {
  padding: 16px;
}

.column h4 {
  margin-top: 20px;
  padding: 12px;
  font-size: 24px;
}

#features {
  margin-top: 50px;
}

.footer {
  left: 0;
  right: 5px;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  color: black;
  text-align: right;
  margin-right: 10px;
}

.links {
  display: flex;
  flex-direction: row;
}

.space {
  flex: 3;
}

.links ul {
  justify-content: space-around;
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 30%;
}
